<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC '-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN'
 'http://java.sun.com/dtd/web-app_2_3.dtd'>

<web-app>
    <display-name>maven-proxy $Name$</display-name>

    <distributable/>

    <context-param>
        <param-name>maven-proxy.properties</param-name>
        <param-value>maven-proxy.properties</param-value>
        <description>Controls where maven-proxy grabs its properties from</description>
    </context-param>
    
    <listener>
        <listener-class>org.apache.maven.proxy.webapp.listeners.Lifecycle</listener-class>
    </listener>
    
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>org.apache.maven.proxy.servlets.AdminServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ConfigServlet</servlet-name>
        <servlet-class>org.apache.maven.proxy.servlets.ConfigServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>StyleServlet</servlet-name>
        <servlet-class>org.apache.maven.proxy.servlets.StyleServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>org.apache.maven.proxy.servlets.SearchServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>RedirectServlet</servlet-name>
        <servlet-class>org.apache.maven.proxy.servlets.RedirectServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>RepositoryServlet</servlet-name>
        <servlet-class>org.apache.maven.proxy.servlets.RepositoryServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ResourceServlet</servlet-name>
        <servlet-class>org.apache.maven.proxy.servlets.ResourceServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/servlets/Admin</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>ConfigServlet</servlet-name>
        <url-pattern>/servlets/Config</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>StyleServlet</servlet-name>
        <url-pattern>/servlets/Style</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/servlets/Search</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>RedirectServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>RepositoryServlet</servlet-name>
        <url-pattern>/repository/*</url-pattern>
    </servlet-mapping>

    <env-entry>
        <env-entry-name>maven-proxy.properties</env-entry-name>
        <env-entry-value>maven-proxy.properties</env-entry-value>
        <env-entry-type>java.lang.String</env-entry-type>
    </env-entry>
    
    
</web-app>


